/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: lightgray;
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 5px 25px;
}

header {
  text-align: center;
  margin: 10px 0 40px 0;
}
.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
pre {
  margin: 0;
  padding: 0;
}
code {
  margin: 0;
  padding: 0;
}
.stoplight {
  position: relative;
}

.btn {
  font-size: 1.0em;
  font-weight: bold;
  margin: 0 15px;
}
